<section class="star-field personal-vendetta-download">
  <div class="container small-width">
    <img class="logo center-div large-margin-bottom" src="<%= url('/images/personal-vendetta/logos/cmyw.png') %>">
    <h2>Download for Free!</h2>
    <p class="margin-bottom">Sign up for our mailing list and download a print & play of the most recent version of Personal Vendetta, absolutely free! This game will be updated regularly with new content, and our mailing list will deliver new versions to you as they are released.</p>

    <button class="magenta large center" onclick="ml_account('webforms', '2752391', 'x9w2n5', 'show')">
      Sign Up & Download
    </button>

    <!-- <form class="row-form" action="https://static.mailerlite.com/webforms/submit/x9w2n5" data-code="x9w2n5" method="post">
      <fieldset>
        <div class="pocky-input">
          <input type="email" placeholder="email@example.com" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
          <button type="submit" class="magenta">Sign Up & Download</button>
          <button disabled="disabled" style="display:none" type="button" class="loading">
        </div>
        <input type="hidden" name="ml-submit" value="1">
      </fieldset>
    </form>
    <div class="ml-form-successBody row-success" style="display:none">
      <h4>Thank you!</h4>
      <p>Check your email for a link to download Personal Vendetta.</p>
    </div> -->
  </div>


  <div class="container full-width no-padding">
    <div class="slick-container desktop">
      <div><img src="<%= url('/images/personal-vendetta/cards/01.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/02.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/03.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/04.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/05.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/06.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/07.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/08.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/09.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/10.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/11.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/12.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/13.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/14.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/15.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/16.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/17.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/18.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/19.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/20.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/21.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/22.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/23.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/24.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/25.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/26.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/27.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/28.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/29.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/30.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/31.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/32.jpg') %>"></div>
      <div><img src="<%= url('/images/personal-vendetta/cards/33.jpg') %>"></div>
    </div>
  </div>

  <div class="container small-width">
    <h3>Overview</h3>
    <p>In Personal Vendetta, each player is a clone of a single person, fighting to the death in a trial by combat for the right to reclaim a single life. Your goal is to be the last clone standing by reducing each opponent's physical or mental health to zero. Play attack cards to inflict physical and mental damage on your foes, intercept their schemes with reaction cards, and improve your position with state cards. However, be careful not to overextend—each move you make comes at a cost: give up too much of yourself, and skate that much closer to death. To play Personal Vendetta well is to balance these costs with the effects you need to win.</p>
  </div>
  <img src="https://track.mailerlite.com/webforms/o/2752391/x9w2n5?v1601343431" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
</section>

<script>
  function ml_webform_success_2752391() { 
    var r=ml_jQuery||jQuery;
    r(".row-success").show(),r(".row-form").hide()
  }
</script>
<script src="https://static.mailerlite.com/js/w/webforms.min.js?va4ec89777e872df8868e9551094f193e" type="text/javascript"></script>

<script type="text/javascript">
  $('.slick-container').slick({
    infinite: true,
    slidesToShow: 12,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    lazyLoad: 'ondemand',
    // centerMode: true,
    // centerPadding: 0;
    // variableWidth: true
    responsive: [
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 3
        }
      },
      {
        breakpoint: 720,
        settings: {
          slidesToShow: 4
        }
      },
      {
        breakpoint: 840,
        settings: {
          slidesToShow: 5
        }
      },
      {
        breakpoint: 960,
        settings: {
          slidesToShow: 6
        }
      },
      {
        breakpoint: 1080,
        settings: {
          slidesToShow: 7
        }
      },
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 8
        }
      },
      {
        breakpoint: 1320,
        settings: {
          slidesToShow: 9
        }
      },
      {
        breakpoint: 1440,
        settings: {
          slidesToShow: 10
        }
      },
      {
        breakpoint: 1560,
        settings: {
          slidesToShow: 11
        }
      },
      {
        breakpoint: 1680,
        settings: {
          slidesToShow: 12
        }
      },
    ]
  })
</script>
